# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.env

# IDE and editor files
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml

# Allure reports
allure-results/

# Operating System files
.DS_Store
Thumbs.db

# Other temporary files
*.swp
*~
